body {
    box-sizing: border-box;
    margin:0;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenedor {
    background-color: white;
    height: calc( 100vh - 20px );
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}
h1, h2 {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}
h2 {
    color:white;
}

.contenedor-flex {
    display:inline-flex;
    border:5px solid red;
    /* Direccion Flex */
    flex-direction:row;
}
.contenedor-flex2 {
    display:flex;
    border:5px solid red;
    /* Direccion Flex */
    flex-direction:row-reverse;
    /* flex-wrapn  Se usa comun con flex-direction: row; */
    flex-wrap: wrap-reverse;
    /* Flex Flow combinacion de direction/wrap */
    flex-flow: row wrap;

    /* Alinear elementos */
    justify-content:space-evenly;
    align-items: flex-end;
    height: 200px;
}
.elemento-flex{
    padding: 10px;
    border-radius: 5px;
    /* Hace que aumenta */
    /* flex:1 0 auto; */


}
.elemento-flex:nth-child(1) {
    background-color: #E53935;
    align-self: flex-start;
}

.elemento-flex:nth-child(2) {
    /* Deshace el aumento, Debe estar flex-grow: 0; */
    background-color: #8E24AA;
    /* FLex basis es el ancho minimo */
}

.elemento-flex:nth-child(3) {
    /* align-self. Funciona para los hijos */
    align-self: center;

    /* esta propieda corresponde a los hijos. */
    background-color: #3F51B5;
    /* Shorthand para flex-grow, flex-shrink, flex-basis; */

    /* flex: flex-grow flex-shrink flex-basis */

}

