/* General */
body{
    box-sizing: border-box;
    background-color:#eee ;
}
img{
    /* Ocupan las imagenes el ancho en cualquuier pantalla */
    width: 100%;
}
h2{
    /* flex: no vas a crecer, si te vas a encoger y tu ancho basico sera de 100%: */
    flex: 0 1 100%;
    text-align: center;
    font-size: 1.8rem;
}
.boton{
    display:inline-block;
    padding:.9em 3em;
    background-color:#008fd1;
    border-radius:1em;
    color:#fff;
}
.boton:hover{
    background-color: #0c9de0;
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
.entrada{
    margin-bottom: 1em;
    border-radius: 1em;
    background-color:#ffff;
    
}
.entrada .contenido{
    padding:1rem;
    text-align:center;
    text-transform: uppercase;
    
}
.contenido a {
    text-decoration: none;
}
.contenido span{
    color:#db008d
}
.contenido h3{
    font-size: .9em;
    line-height: 1.4rem;
}
/* Fin General */


/* Responsives. Enfoque: Mobil first */
@media screen and (min-width:468px){
    .contenido-principal{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;        
    }
    .entrada{
        flex:0 1 calc(50% - 1em);
    }
}
/* Cuando el ancho de la pantalla sea mayor a 768px: */
@media screen and (min-width:768px){
    .entrada{
        flex: 0 1 calc(33% - 1em);
    }
}